.userPhoto{
    margin: 10px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.header{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    color: white;
}



.loading {
    
    border-radius: 10%;
}